
html, body {
	height: 100%;
	width:100%;
	margin: 0;
	padding: 0;
	overflow-x:hidden;
}

h1 {
	color: #000;
	font-family: 'Montserrat';
	font-size: 1em;
	text-transform: uppercase
}

h2 {
	text-transform: uppercase;
}

/*
 * Header style
*/

.header{
	height: auto;
	max-height: 48px;
	display: flex;
	justify-content: space-between;
	background-color: #fff;
	box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);
	padding: 1rem;
	z-index: 9999;
}

.header_logo {
	display: flex;
	align-items: center;
}

.header_logo img {
	max-width: 49.125px;
}

.header_title h1 {
	margin-left: 1rem;
}

.header_menu {
	display: none;
}

.header_menu a { color: #000; }
.header_menu a:hover { text-decoration: none; }

@media screen and (min-width: 800px) {
	.header_menu {
		display: flex;
		align-items: center;
	}
	
	.header_title h1 {
		font-size: 2em;
	}
}

/*
 * Container style
*/

.container {
	width: 100%;
	height: calc(100% - 80px);
	display: flex;
	flex-direction: column;
}
#map {
        height: 100%;
		width:100%;
		float:left;
	}

.container_form {
	max-height: calc(100vh - 80px);
	padding: 6rem;
}

.container_form label {
	width: 100%;
	height: auto;
	margin-bottom: 2rem;
}

.container_form label input {
	width: 100%;
}

.container-datalist {
	width: 100%;
}

.container_datepicker {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.container_datalist label input {
	width: 100%;
	height: 100%;
	margin-bottom: 1rem;
}
.container_datepicker label input {
	height: 100%;
	max-height: 30px;
}

.datepicker {
	border-radius: 0 !important; /* Override bootstrap base style */
	padding: 0 !important;
}

#bottone {
	padding: .6rem 1.4rem .6rem 1.4rem;
}

@media screen and (min-width: 800px) {
	.container {
		flex-direction: row;
	}

}